* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(56, 134, 140);
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

nav a {
    color: white;
    font-size: 15px;
}

nav a:hover {
    font-weight: bold;
}

.houseN {
    width: 20px;
    border-radius: 100%;
}

.imgAffiche {
    width: 25%;
    height: auto;
    border-radius: 10px;
    margin: 6% 0 6% 6%;
}

.container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.text h1, .text p {
    margin: 0;
}

.nomJeu {
    font-size: 50px;
}

.auteur {
    color: grey;
}

.datexedit {
    font-size: 20px;
}

.text {
    margin-left: 6%;
    margin-top: 10px;
}

.dateAffiche {
    margin-left: 40%;
    margin-top: 10px;
    font-size: 25px;
}

.infoAffiche {
    width: 80%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color: rgb(56, 134, 140, 0.5);
}

.mainTitle {
    margin-top: 6%;
    text-align: center;
    font-size: 60px;
}

.allJeux {
    background-color: rgb(56, 134, 140, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
}

.jeux-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imgMain {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.mainJeux {
    border-radius: 10px;
    padding: 0;
    margin: 10px;
    background-color: transparent;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    transition: transform 0.3s;
}

.card .top {
    height: 100px;
    overflow: hidden;
}

.card .bottom {
    padding: 20px;
}

.card .nameCardMain {
    color: black;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 10px;
}

.card .categorycardMain {
    color: rgb(86, 80, 80, 0.8);
    font-size: 12px;
    margin: 0;
}

.card .line {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

.card .year {
    color: black;
    font-size: 16px;
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}