<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
{% include 'main_nav.html' %}
<a href="/ludotheque/ajout_jeux/"> Ajouter un jeu </a>
<h1> Hey </h1>
<article>
    {% for j in liste %}
        <li class="liste"> {{j}} <a class="edit" href="/ludotheque/affiche_jeux/{{j.id}}/">Afficher les informations</a>  |  <a class="edit" href="/ludotheque/update_jeux/{{j.id}}/">Mettre à jour</a>  |  <a class="edit" href="/ludotheque/delete_jeux/{{j.id}}/">Supprimer</a> </li>
    {% endfor %}
</article>
<a href="/ludotheque/ajout_jeux/"> Ajouter un jeu </a>
<a href="/ludotheque/"> Retour </a>
</body>
</html>